{% load i18n %}{% autoescape off %}
<html>
{% blocktrans %}You're receiving this email because someone registered an account for you at {{ site_name }}.{% endblocktrans %}
<br>
<br>
{% trans "Please go to the following page and set your password to complete this process:" %}
<a href="{{ set_password_url }}">{{ set_password_url }}</a>
<br>
<br>
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
<br>
<br>
{% trans "Thanks for using our site!" %}
<br>
<br>
{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
</html>
