{% include "survey/question_with_translation.html" with question=question lang=request.user.secondary_language %}

<div class="row fancy-ordered-controls">
    <div class="col-xs-6">
        <div>&gt;&gt;</div>
    </div>
    <div class="col-xs-6">
        <div>&lt;&lt;</div>
    </div>
</div>

<div class="row fancy-select fancy-ordered-select">
    <div class="col-xs-6">
        <div class="btn-group-vertical group-left w-100p" role="group" id="fancy-ordered-select-left-{{ question.pk }}">
            {% for option in question.options.all %}

                <div class="btn-group" role="group">
                    <button
                            type="button"
                            class="text-left btn btn-default"
                            data-value="{{ option.value }}"
                            data-name="{{ question.pk }}"
                            data-checkbox-for="type_multiselect_ordered-checkbox-{{ option.pk }}"

                    >
                        <span class="cell"><span class="badge"></span></span>
                        <span class="text">{{ option.value }}</span>
                        <input id="type_multiselect_ordered-checkbox-{{ option.pk }}" type="checkbox" name="data[{{ question.pk }}][]" value="{{ option.value }}" style="display:none">
                    </button>
                </div>

            {% endfor %}
        </div>
    </div>

    <div class="col-xs-6">
        <div class="btn-group-vertical group-right w-100p" role="group" id="fancy-ordered-select-right-{{ question.pk }}">

        </div>
    </div>
</div>

<div class="btn-group template" role="group" id="type_multiselect_ordered_option_template-{{ question.pk }}">
    <button
            type="button"
            class="text-left btn btn-default fancy-checked"
            data-value="{{ option.value }}"
            data-name="{{ question.pk }}"
            data-checkbox-for="type_multiselect_ordered-checkbox-{{ option.pk }}"

    >
        <span class="cell"><span class="badge"></span></span>
        <span class="text">{{ option.value }}</span>
        <input type="checkbox" name="data[{{ question.pk }}][]" value="{{ option.value }}" checked="true" style="display:none">
    </button>
</div>

<div class="form-group w-100p field-other text-left">
    <input
            type="text"
            class="form-control input-other"
            name="data[{{ question.pk }}][other]"
            data-id="{{ question.pk }}"
            placeholder="Other">
</div>
