<div class="question">{{ item.question.text }}</div>

<div class="form-group">
    <div class="input-group with-addon">
    <div class="input-group-addon">%</div>
    <input
            id="type_two_dependend_fields-main-{{ item.question_id }}"
            type="number"
            class="form-control percents"
            name="data[{{ item.question_id }}][main]"
            pattern="[0-9]*"
            data-rule-number="true"
            data-rule-min="0"
            data-msg-min="Please enter value between 0% and 100%"
            data-rule-max="100"
            data-msg-max="Please enter value between 0% and 100%"
            onkeyup="$(this).valid(); return true;"
    >
</div>

</div>


<div class="checkbox">
    <input id="checkbox1" type="checkbox" class="additional-switcher" data-item-id="{{ item.question_id }}">
    <label for="checkbox1">
        Not sure
    </label>
</div>

{% if item.question.question_set %}
    {% with dependend=item.question.get_subquestion %}
        <div class="additional" id="additional-{{ item.question_id }}">
            <div class="question">{{ dependend.text }}</div>
            <div class="form-group w-100p">
                <input
                        id="type_two_dependend_fields-other-{{ item.question_id }}"
                        type="number"
                        class="form-control amount"
                        name="data[{{ item.question_id }}][additional]"
                        pattern="[0-9]*"
                        data-rule-number="true"
                        data-rule-min="0"
                        data-msg-min="Please enter value between 0 and 10"
                        data-rule-max="10"
                        data-msg-max="Please enter value between 0 and 10"
                        onkeyup="$(this).valid(); return true;"
                >
            </div>
        </div>
    {% endwith %}
{% endif %}



