{% include "survey/question_with_translation.html" with question=question lang=request.user.secondary_language %}
<div class="type_yes_no">

    <button
            id="btn-type_yes_no-Yes-{{ question.pk }}"
            class="btn btn-default"
            type="button"
            data-id="type_yes_no-Yes-{{ question.pk }}"
            data-type="Yes"
    >
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <span>Yes</span>
    </button>


    <button
            id="btn-type_yes_no-No-{{ question.pk }}"
            class="btn btn-default"
            type="button"
            data-id="type_yes_no-No-{{ question.pk }}"
            data-type="No"
    >
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <span>No</span>
    </button>


      <input id="type_yes_no-Yes-{{ question.pk }}" type="radio" name="data[{{ question.pk }}]" value="Yes">
      <input id="type_yes_no-No-{{ question.pk }}" type="radio" name="data[{{ question.pk }}]" value="No">

</div>
