{% include "survey/question_with_translation.html" with question=question lang=request.user.secondary_language %}

<div class="form-group text-center">
    <div class="centered">
        <div class="input-group">
            <div class="input-group-addon">%</div>
            <input
                    id="type_two_dependend_fields-main-{{ question.pk }}"
                    type="number"
                    class="form-control percents"
                    name="data[{{ question.pk }}][main]"
                    pattern="[0-9]*"
                    data-rule-number="true"
                    data-rule-min="0"
                    data-msg-min="Please enter value between 0% and 100%"
                    data-rule-max="100"
                    data-msg-max="Please enter value between 0% and 100%"
                    onkeyup="$(this).valid(); return true;"
            >
        </div>
    </div>
</div>


<div class="checkbox">
    <input id="checkbox1" type="checkbox" class="additional-switcher" data-item-id="{{ question.pk }}">
    <label for="checkbox1">
        Not sure
    </label>
</div>

{% if question.question_set %}
    {% with dependend=question.get_subquestion %}
        <div class="additional" id="additional-{{ question.pk }}">
            {% include "survey/question_with_translation.html" with question=dependend lang=request.user.secondary_language %}
            <div class="form-group text-center">
                <input
                        id="type_two_dependend_fields-other-{{ question.pk }}"
                        type="number"
                        class="form-control amount"
                        name="data[{{ question.pk }}][additional]"
                        pattern="[0-9]*"
                        data-rule-number="true"
                        data-rule-min="0"
                        data-msg-min="Please enter value between 0 and 10"
                        data-rule-max="10"
                        data-msg-max="Please enter value between 0 and 10"
                        onkeyup="$(this).valid(); return true;"
                >
            </div>
        </div>
    {% endwith %}
{% endif %}



