{% include "survey/question_with_translation.html" with question=question lang=request.user.secondary_language %}

<div class="fancy-select fancy-checkbox" {% if question.is_radio %}data-radio="true"{% endif %}>
    <div class="btn-group-vertical" role="group">
        {% for option in question.options.all %}

            <div class="btn-group" role="group">
                <button
                        type="button"
                        class="text-left btn btn-default"
                        data-value="{{ option.value }}"
                        data-checkbox-for="type_multiselect_with_other-checkbox-{{ option.pk }}"

                >
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    {{ option.value }}

                </button>
            </div>

        {% endfor %}
    </div>
{% for option in question.options.all %}
    <input type="checkbox" name="data[{{ question.pk }}][]" id="type_multiselect_with_other-checkbox-{{ option.pk }}" value="{{ option.value }}">
{% endfor %}

    <div class="template hidden" id="type_multiselect_option_template-{{ question.pk }}">
        <div class="btn-group" role="group">
            <button
                type="button"
                class="text-left btn btn-default fancy-checked"
            >
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                {{ option.value }}
            </button>
        </div>

        <input
            type="checkbox"
            name="data[{{ question.pk }}][]"
        >
    </div>

    {% if not question.is_radio %}
        <div class="input-group w-100p field-other text-left">
            <input
                class="tagsinput form-control"
                type="text"
                name="data[{{ question.pk }}][other]"
                data-id="{{ question.pk }}"
                placeholder="Other"
            >
        </div>
    {% endif %}


</div>
