{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <h1>Otsuka Medical Insights - CNS Pilot</h1>
    <p>
        HCP discussion to capture Insights on treatment experience of
        <b>Patients with SCZ and Concomitant Substance Abuse</b>
    </p>

    <p>
        Please clarify with the HCP regarding the definition of the patient group for this discussion as follows:
    </p>


    <ul class="spaced">
        <li>
            Patients with SCZ and concomitant Substance Abuse on a daily basis or several times per week
        </li>

        <li>
            Not Occasional or Recreational use
        </li>

        <li>
            Substance abuse definition including Drugs, Alcohol and Nicotine
        </li>
    </ul>


    <div class="text-center">
        <a href="{% url 'survey:start'  %}" class="btn btn-primary">Start Survey</a>
    </div>


{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}{% endfor %}
    {% endif %}
{% endblock %}
