{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <h1>Otsuka MSL Insights</h1>
    <p>
        MSL Insights initiatives train MSLs to have deeper and more insightful discussions with HCPs in the field. This is a collaborative effort between Regional and the Affiliates through prioritising a number of Areas of Interest formulated as appropriate questions for MSL training purposes.
    </p>

    <p>
        All MSLs must understand the <b>MSL Insights Briefing Document</b> and complete the <b>MSL Insights Launch Briefing</b> in their countries prior to commencing any field activities for this initiative.
    </p>


    <h2>User Instructions</h2>
    <ul class="spaced">
        <li>
            MSL insights is non-promotional and the Areas of Interest when discussed will be in a non-promotional manner.
        </li>
        <li>
            Discuss the Areas of Interest with HCPs only where appropriate in a natural scientific dialogue.
        </li>
        <li>
            Do not schedule additional HCP meetings specifically for the purpose of gathering MSL Insights for the Areas of Interest.
        </li>
        <li>
            No payment is made to HCP or other parties for MSL Insights initiatives.
        </li>
        <li>
            This Web-app is an internal tool and should not be used in the presence of HCPs and not shown to HCPs.
        </li>
        <li>
            Do not collect any identifiable personal or private data of any kind (i.e. no names of HCPs, patients or hospitals).
        </li>
        <li>
            Do not input any information relating to Adverse events in web-app.
        </li>
        <li>
            Comply with PV and compliance policies and report any Adverse Event uncovered in HCP discussion, including but not limited to off-label use, lack of efficacy, missed dose, unexpected benefit, pregnancy, drug misuse, and overdose/under-dose without an AE.
        </li>
    </ul>


    <div class="text-center">
        <a href="{% url 'survey:list' %}" class="btn btn-primary">I AGREE</a>
    </div>


{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}{% endfor %}
    {% endif %}
{% endblock %}
