{% extends "base-full-width.html" %}
{% load i18n svg %}

{% block content %}
  {% if object_list.0.count == 0 and object_list.1.count == 0 %}
    <p class="row"><label class="no-surveys">{% trans 'No surveys defined.' %}</label></p>
  {% else %}
    {% trans 'Active Surveys:' as active_label %}
    {% trans 'Past Surveys:' as past_label %}
    {% for sl in object_list %}
      {% if sl.count > 0 %}
        <div class="row">
          <div class="col-xs-12 survey-list">
            <p class="row"><label>
              {% if forloop.counter == 1 %}
                {{ active_label }}
              {% else %}
                {{ past_label }}
              {% endif %}
            </label></p>
            {% for survey in sl %}
              <div class="row survey-row {% if survey.is_active %}survey-row-active{% endif %}">
                <div class="col-xs-6 col-md-4 survey-title-column">
                  <i class="svg-icon">
                    {% if survey.is_active %}
                      {% svg 'survey-active' %}
                    {% else %}
                      {% svg 'survey-inactive' %}
                    {% endif %}
                  </i>
                  <div class="survey-title">{{ survey.name }}</div>
                  <div class="survey-dates">{{ survey.start|date:'d M' }} - {{ survey.end|date:'d M' }}</div>
                </div>
                <div class="col-xs-6 col-md-4 col-md-push-4 survey-actions-column">
                  {% if survey.is_active and request.user.country in survey.countries.all %}
                    {% if request.user.is_superuser or survey.therapeutic_area in request.user.therapeutic_areas.all and perms.survey.add_answer %}
                      <a href="{% url 'survey:start' survey.pk %}" class="btn btn-primary">{% trans 'Start Survey' %}</a>
                    {% endif %}
                  {% endif %}
                  <a href="{% url 'reports:advanced' survey.slug 'all' %}" class="btn btn-info report-button">{% trans 'View Report' %}</a>
                  <span class="dropdown">
                    <a href="#" id="dropdown_more_{{ survey.pk }}" class="btn btn-link dropdown-toggle more-actions-button" data-toggle="dropdown" title="{% trans 'More' %}">
                      <i class="svg-icon">{% svg 'ellipsis' %}</i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown_more_{{ survey.pk }}">
                      <li class="report-dropdown-item"><a href="{% url 'reports:advanced' survey.slug 'all' %}">{% trans 'View Report' %}</a></li>
                      {% if has_permissions %}
                        {% if survey.is_active %}
                          <li><a href="#" data-toggle="modal" data-target="#clear-survey-modal" data-survey_id="{{ survey.pk }}">{% trans 'Clear Survey Data' %}</a></li>
                        {% endif %}
                      {% endif %}

                      <li><a id="preview-survey" href="{% url 'survey:preview' survey.pk  %}">{% trans 'Preview Survey' %}</a></li>
                    </ul>
                  </span>
                </div>
                <div class="col-xs-12 col-md-4 col-md-pull-4 survey-info-column">
                  <span class="survey-info">
                    <div class="survey-info-label">{% trans 'Therapeutic Area' %}</div>
                    <div class="survey-info-value">{{ survey.therapeutic_area.name|default:'-' }}</div>
                  </span>
                  <span class="survey-info">
                    <div class="survey-info-label">{% trans 'Responses' %}</div>
                    <div class="survey-info-value">{{ survey.answers.count }}</div>
                  </span>
                  {% with survey.get_last_answer as last_answer %}
                    {% if last_answer %}
                      <span class="survey-info">
                        <div class="survey-info-label">{% trans 'Last Entry' %}</div>
                        <div class="survey-info-value">{{ last_answer.created_at|date:'d M H:m T' }}</div>
                      </span>
                    {% endif %}
                  {% endwith %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <div id="clear-survey-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>{% trans 'Clear all survey data?' %}</h3>
          </div>
          <div class="modal-body" style="font-size: 18px; font-weight: 200">
            {% trans 'All data submitted to <span class="confirm-survey-title"></span> survey will be lost.' %}
            <form id="clear-survey-form" style="display: none" method="GET" action="{% url 'survey:delete_survey_data' 1%}">
              {% csrf_token %}
              <input type="hidden" name="survey_id" />
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-primary">{% trans 'Clear Survey Data' %}</button>
            <button type="button" class="btn btn-link" data-dismiss="modal">{% trans 'Cancel' %}</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      $('#clear-survey-modal').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget);
        var row = button.closest('.survey-row');
        var title = row.find('.survey-title').text();
        $(this).find('.confirm-survey-title').text(title);

        var survey_id = button.data('survey_id');
        $(this).find('input[name=survey_id]').val(survey_id);

        var action_url = "{% url 'survey:delete_survey_data' survey_id=112233 %}".replace("112233", survey_id);
        $('#clear-survey-form').attr("action", action_url);
      });
      $('#clear-survey-modal .btn-primary').click(function () {
        $(this).prop('disabled', true);
        $('#clear-survey-modal form').submit();
      });
    </script>
  {% endif %}
{% endblock content %}
