{% extends "base.html" %}
{% load static i18n compress %}

{% block content %}

    <form action="" method="post" id="survey-pass-form">{% csrf_token %}

        <div id="wizard" style="display:none">
            {% for item in items %}
                <h1>1</h1>
                <div class="step-content">
                    <div class="text-center m-t-md {{ item.question.type }}">
{#                        <h2>{{ item.question.get_type_template_name }}</h2>#}
                        {% include item.question.get_type_template_name with item=item %}
                    </div>
                </div>
            {% endfor %}
        </div>

    </form>
{% endblock content %}

{% block css %}{{ block.super }}
    {% compress css inline %}
        <link href="{% static 'css/plugins/steps/jquery.steps.css' %}" rel="stylesheet">
    {% endcompress %}
{% endblock css %}

{% block javascript %}{{ block.super }}
    {% compress js inline %}
        <script type="text/javascript" src="{% static 'js/plugins/jquery.steps/jquery.steps.min.js' %}"></script>
    {% endcompress %}
{% endblock javascript %}


{% block inlinescript %}



    $("#wizard").steps({
        titleTemplate: '<span class="number">#index#</span>',
        onStepChanged: function (event, currentIndex, priorIndex) {

            if ($('#type_multiselect_with_other-checkbox-1').prop('checked') == true) {
                $('#type_yes_no-Yes-5').prop('checked', true);
                $('#type_yes_no-Yes-5').prop('disabled', true);
                $('#type_yes_no-No-5').prop('disabled', true);
            } else {
                if ($('#type_yes_no-Yes-5').prop('disabled') == true) {
                    $('#type_yes_no-Yes-5').prop('checked', false);
                    $('#type_yes_no-Yes-5').prop('disabled', false);
                    $('#type_yes_no-No-5').prop('disabled', false);
                }
            }

        },

        onFinished: function(event, currentIndex) {
            $('#survey-pass-form').submit();
        },
    });

    $("#wizard").show();
{% endblock inlinescript %}
