{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Pass Survey" %} - {{ block.super }}{% endblock %}
{% block content %}

    <form action="" method="post" onsubmit="fancy_validate(); return false;">{% csrf_token %}

        {{ form.as_p }}
{#        {{ form.organization }}#}
{#        {{ form.region | as_crispy_field }}#}
        <div class="text-center">
          <button class="primaryAction btn btn-primary" type="submit">{% trans "Start survey" %}</button>
        </div>
    </form>
{% endblock content %}

{% block javascript %}{{ block.super }}{% endblock javascript %}