{% extends "base-full-width.html" %}
{% load i18n %}

{% block content %}

    {% if preview %}
        <div class="container sp-bar">
          <h4>Survey Preview</h4>
        </div>
    {% endif %}


    <div class="container" style="max-width: 600px;">
        <form class="start-form" action="" method="post" onsubmit="return fancy_validate()">{% csrf_token %}
            {% if survey %}
              <h2 class="start-survey-title">{{ survey.name }}</h2>
            {% endif %}
            <p>
                <label>Country: {{ request.user.country }}</label>
            </p>

            {{ form.as_p }}

            <div class="text-center">
              <button class="primaryAction btn btn-primary" type="submit">{% trans "Next" %}</button>
            </div>
        </form>
    </div>
{% endblock content %}
