{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <form action="" method="post" onsubmit="return fancy_validate()">{% csrf_token %}
        <p>
            <label>Country: {{ request.user }}</label>
        </p>

        {{ form.as_p }}

        <div class="text-center">
          <button class="primaryAction btn btn-primary" type="submit">{% trans "Start survey" %}</button>
        </div>
    </form>
{% endblock content %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}{% endfor %}
    {% endif %}
{% endblock %}