{% load static i18n compress %}{% load svg %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>Otsuka - Insights</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="Insights">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <style type="text/css">
      {# Moved from Inspinia style.css because it is not importing #}
      @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
      @import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
    </style>
    {% compress css %}
        {% block css %}

            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/plugins/bootstrap-submenu.css' %}" rel="stylesheet">
            <link href="{% static 'css/plugins/bootstrap-select.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/plugins/chartist-plugin-tooltip.css' %}" rel="stylesheet">

            <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

            <link href="{% static 'css/plugins/chartist.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/animate.css' %}" rel="stylesheet">
            <link href="{% static 'css/style.css' %}" rel="stylesheet">

            <!-- This file stores project-specific CSS -->
            <link href="{% static 'css/project.css' %}" rel="stylesheet">

            <link href="{% static 'css/reports.css' %}" rel="stylesheet">


        {% endblock %}
    {% endcompress %}

    {% compress js %}
        {% block javascript %}
            <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/plugins/bootstrap-select.min.js' %}"></script>
            <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
            <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

            <!-- Custom and plugin javascript -->
            <script src="{% static 'js/inspinia.js' %}"></script>
            <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
            <script src="{% static 'js/plugins/Chart.min.js' %}"></script>
            <script src="{% static 'js/plugins/chartist.min.js' %}"></script>
            <script src="{% static 'js/chartist-plugin-tooltip.js' %}"></script>
            <script src="{% static 'js/chartist-plugin-bar-animation.js' %}"></script>
            <script src="{% static 'js/chartjs-config.js' %}"></script>
            <script src="{% static 'js/chart-drawer.js' %}"></script>
            <script src="{% static 'js/project.js' %}"></script>


        {% endblock javascript %}
    {% endcompress %}


</head>


<body class="top-navigation">

<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            <div class="container navbar-container">
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="pull-left">
                        {#                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">#}
                        {#                    <i class="fa fa-reorder"></i>#}
                        {#                </button>#}
                        <a href="{% url 'home' %}" class="brand"><img src="{% static 'img/logo2.png' %}" height="40"
                                                                      alt="Otsuka"></a>
                    </div>

                    {% if request.user.is_authenticated %}
                      <div class="pull-right">
                          <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse"
                                  data-target="#navbar" id="navbarToggle">
                              <i class="fa fa-bars"></i>
                          </button>
                      </div>
                    {% endif %}
                    <div class="collapse navbar-collapse" id="navbar">

                        {% if request.user.is_authenticated %}
                            <ul class="nav navbar-top-links navbar-left">
                                <li class="">
                                    <a href="{% url 'survey:list' %}">
                                        <i class="svg-icon">{% svg 'menu-surveys' %}</i>
                                        {% trans "Surveys" %}
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'survey:instructions' %}">
                                        <i class="svg-icon">{% svg 'menu-info' %}</i>
                                        {% trans "Instructions" %}
                                    </a>
                                </li>
                                {% if perms.users.add_user %}
                                    <li class="">
                                        <a href="{% url 'admin:app_list' 'users' %}">
                                            <i class="svg-icon">{% svg 'menu-users' %}</i>
                                            {% trans "Users" %}
                                        </a>
                                    </li>
                                {% endif %}

{% comment %}
                                {% load get_countries from user_tags %}{% get_countries as countries %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="true">Reports <span class="caret"></span></a>
                                    <ul class="dropdown-menu reports-dropdown ">
                                        <li>
                                            <a href="{% url 'reports:advanced' country='europe' %}">Europe</a>
                                        </li>
                                        {% for country in countries %}
                                        <li>
                                            <a href="{% if country.slug %}
                                                        {% url 'reports:advanced' country=country.slug %}
                                                      {% else %}
                                                        {% url 'reports:advanced' country=country.pk %}
                                                      {% endif %}">
                                                {{ country.name }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
{% endcomment %}
                            </ul>

                            <ul class="nav navbar-top-links navbar-right">
                                {% if request.user.is_superuser %}
                                  <li class="dropdown hidden-sm">
                                    <a href="#"
                                       class="dropdown-toggle"
                                       data-toggle="dropdown"
                                       role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false"><i class="fa fa-cogs"></i><span class="visible-xs-inline">Utils</span></a>
                                    <ul class="dropdown-menu">
                                      <li><a href="{% url 'reports:recalculate' %}">Recalculate answers</a></li>
                                      <li><a href="{% url 'reports:update_vars' %}">Update vars</a></li>
                                    </ul>
                                  </li>
                                {% endif %}
                                <li>
                                    <a class="user-link" href="{% url 'users:detail' request.user.username %}">
                                        <div class="username">{{ request.user.name }}</div>
                                        <div class="userinfo">{{ request.user.country }}</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="logout-link" href="{% url 'account_logout' %}">
                                        <i class="svg-icon">{% svg 'menu-logout' %}</i> {% trans "Log Out" %}
                                    </a>
                                </li>
                            </ul>
                        {% endif %}

                    </div>
                </nav>
            </div>
        </div>
        <div class="wrapper wrapper-content">
            <div class="container ">
                {% block messages %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endblock %}

                <!-- content -->
                {% block content %}{% endblock content %}
                <!-- end content -->
                <div id="footer-presser"></div>

            </div>

        </div>
        <div class="footer">
            <div class="container text-center">
                {% block over_footer %}{% endblock %}
                &copy; {% now "Y" %} Otsuka Pharmaceutical Europe Ltd.<br/>Developed by DeepSine in collaboration with
                BPI S.r.l.
            </div>
        </div>

    </div>
</div>


{% block modal %}{% endblock modal %}

<script>
    $(document).ready(function () {
        {% block inlinescript %}{% endblock inlinescript %}
    });
</script>

</body>

</html>

