/* Display django-debug-toolbar.
   See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
   and https://github.com/pydanny/cookiecutter-django/issues/317
*/
[hidden][style="display: block;"] {
  display: block !important;
}

.brand img {
  margin-top: 5px;
  margin-left: 5px;
}

.container {
  max-width: 600px;
}

.fancy-select {
  border: none;
}

.fancy-select .fancy-alert {
  display: none;
  color: #e60000;
}

.fancy-select .btn-group-vertical {
  width: 100%;

}

.fancy-select .btn {
  text-align: left;
  white-space: inherit;
  padding-top: 12px;
  padding-bottom: 12px;
}

.fancy-select .btn i.fa{
  opacity: 0;
  font-size: 20px;
  margin-right: 6px;
}

.fancy-select button.fancy-checked, .type_yes_no button.fancy-checked {
  color: #0e57a9;
  background-color: white;
}

.fancy-select button.fancy-checked i.fa{
  opacity: 1;
}

.type_yes_no button {
  width: 30%;
  min-width: 100px;
}

.type_yes_no button span{
  position: relative;
  left: -10px;
}

.type_yes_no button i.fa{
  font-size: 20px;
  float: left;
  opacity: 0;
}

.type_yes_no button.fancy-checked i.fa{
  opacity: 1;
}

.type_yes_no input[type="radio"] {
  display: none !important;
}

.type_yes_no_jumping-breaking {
  display: none;
}

.fancy-invalid-required {
  border:solid 1px #e60000;
}

.fancy-invalid-required .fancy-alert {
  display: block;
}

.fancy-checkbox input[type="checkbox"] {
  display: none !important;
  position: absolute;
}

.fancy-ordered-select button {
  text-align: left;
  white-space: inherit;
}

.fancy-ordered-select .col-xs-6, .fancy-ordered-controls .col-xs-6 {
  padding-left: 7px;
  padding-right: 0;
}


.fancy-ordered-controls .col-xs-6 div{
    background: white;
    font-weight: bold;
    width: 100%;
    float: none;
    border: 1px solid #e7eaec;
    border-radius: 3px;

}

.fancy-ordered-select button span.badge {
  background-color: #0e57a9;
}

.fancy-ordered-select .group-left button span.badge {
  display: none;
}


/* --------------- steps ---------------- */
.wizard > .steps > ul > li {
    width: inherit !important;
}

.wizard > .content {
  background: none !important;
}

.wizard .actions, .wizard .actions ul {
  width: 100%;
}

.wizard .actions ul li {
  width: 45%;
  text-align: center;
}

.wizard .steps {
  text-align: center;
}

.wizard .steps > ul > li {
  float: none !important;
  display: inline-block;
}


/* ---------- additional elements for wizard -----------*/

.wizard div.checkbox label {
  padding-left: 2px;
  padding-top: 4px;
}

.wizard .actions ul>li:first-child:not(.disabled)>a{
  background-color: #92bce2;
}

.type_two_dependend_fields .additional {
  display: none;
}

.field-other {
  margin-top: 15px;
}


.w-100p {
  width: 100%;
}

div.bootstrap-tagsinput {
  width: 100%;
}

div.bootstrap-tagsinput input{
  border: none !important;
  display: inherit !important;
}



.question {
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  padding-bottom: 10px;
}

.has-error .form-control {
    border-color: #e60000 !important;
}

.has-error .help-block {
    color: #e60000;
}



#footer-presser {
  margin-top: 100px;
}


.type_two_dependend_fields input.percents {
  width: 100px;
}

.type_two_dependend_fields .centered {
  display: inline-block;
  width: 139px;
}

.type_two_dependend_fields input.amount {
  width: 137px;
  display: inline-block !important;
}


.fancy-select .cell {
  display: table-cell;
  vertical-align: middle;

}

.fancy-select .text {
    display: table-cell;
    padding-left: 5px;
}

.template {
  display: none !important;
}

.type_yes_no_jumping-breaking {
  margin-top: 30px;
}

.spaced li {
  padding-bottom: 12px;
}

.information-tag {
  position: absolute;
  text-align: right;
  top: -60px;
  right: 0px;
}

.footer .container {
  position: relative;
}

/* ---------- Navbar -----------*/

@media (min-width: 768px) {
  .dropdown-submenu > a:after {
    margin-top: 9px;
  }
}

@media (max-width: 480px) {
  .top-navigation .navbar-collapse > .nav > li:first-child > a {
    margin-left: 0;
  }
  .navbar-collapse.collapse {
    display: none;
  }
  .reports-dropdown {
    position: static;
    box-shadow: none;
    margin-bottom: 10px;
  }
}

@media (max-width: 350px) {
  .nav.navbar-top-links li.dropdown {
    display: block;
  }
}

.container.navbar-container {
  max-width: 970px;
}

.top-navigation .nav > li > a {
  padding: 15px;
}

.top-navigation .nav > li:first-child > a {
  margin-left: 15px;
}

.collapse {
  transition: none;
}

.navbar-collapse.collapse.in{
  position: absolute;
  top: 43px;
  right: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 200px;
  transition: none;
  background-color: white;
  box-shadow: 3px 3px 20px -4px rgba(110,110,110,1);
}
