.report {
  color: #3d3d3d;
}

@media (min-width: 768px) {

  .equal-heights {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  }

  .equal-heights > * {
    display: flex;
  }

  .report-card {
    display: flex;
    flex-direction: column;
  }

  .report-card .report-card-body {
    margin-top: auto;
  }
}

@media (min-width: 992px) {
  .report {
    margin-left: -185px;
    margin-right: -185px;
  }
}


@media (max-width: 992px) {
  .survey-cards > .row > *, .question-3 > .row > *, .question-2 > .row > *,  .question-1 > .row > *  {
    margin-bottom: 20px;
  }
}

.survey-overview-title {
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 21px;
}

.report-card {
  width: 100%;
  background-color: white;
  padding: 15px 20px 40px 20px;
  box-shadow: 3px 3px 20px -4px rgba(110,110,110,1)
}

.report-card.chart-card {
  padding-bottom: 30px;
}

.report-card-red {
  border-left: 5px solid #b8103b;
}

.report-card-blue {
  border-left: 5px solid #328ec9;
}

.report-card-gray {
  border-left: 5px solid #464646;
}

.report-card-table {
  border-top: 5px solid #b8103b;
}

.report-card-head {
  margin-bottom: 40px;
}

.report-card-head .head-delim {
  display: inline-block;
  height: 1px;
  width: 20px;
  background-color: #dedede;
  margin: 15px 0 0 0;
}

.report-card-head .title {
  letter-spacing: 1px;
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 1;
}

.report-card-head .surveys-total {
  margin-top: 13px;
}

.report-card .report-card-text-lg {
  font-size: 28px;
  line-height: 1;
  font-weight: 600;
}

.report-card .report-card-text {
  font-size: 12px;
  margin-top: 12px;
  line-height: 1;
}

.report-card .report-card-text-lesser {
  font-size: 12px;
}

.question-3, .question-1, .question-2 {
  margin-top: 70px;
}

.report-card.report-card-table .report-card-head {
  margin-bottom: 30px;
}

.report-table > tbody > tr > td {
  padding: 4px 8px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 600;
  border: none;
}

.report-table > tbody > tr {
  border-bottom: 2px solid white;
}

.report-table > tbody > tr > td:first-child {
  padding-left: 20px;
}

.report-table > tbody > tr > td:last-child {
  text-align: right;
  padding-right: 30px;
}

.report-table > tbody > tr:last-child {
  border-bottom: none;
}

.report-table > tbody > tr.report-table-first-red {
  background-color: #b8103b;
  color: white;
}

.report-table > tbody > tr.report-table-second-red {
  background-color: #f28d9e;
}

.report-table > tbody > tr.report-table-third-red {
  background-color: #f9c6ce;
}

.report-table > tbody > tr.report-table-second-blue {
  background-color: #0072bc;
}

.report-table > tbody > tr.report-table-third-blue {
  background-color: #84bbdf;
}

.left-1 {
  position: relative;
  left: 1px;
}

/* Pie chart */

.report-card.chart-card .pie-percentage {
  color: #b8103b;
}

.report-card.chart-card .report-card-text {
  line-height: initial;
}

.q1-pie-card .pie-info {
  margin-top: 60px;
}

@media (max-width: 768px) {
  .q1-pie-card .pie-info {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
  }
}

.q2-pie-answers {
  display: flex;
  justify-content: space-around;
}

.q2-pie-answer {
  text-align: center;
  padding: 0 15px;
}

.q2-pie-answer:last-child {
  padding-right: 45px;
}

.q2-pie-answer .answer {
  font-size: 20px;
}

.pie-legend {
  margin-top: 35px;
}

.pie-legend ul {
  list-style: none;
}

.pie-legend ul {
  list-style: none;
  text-align: right;
}

.pie-legend ul li span {
  display: inline-block;
  float: right;
  position: relative;
  top: 3px;
  height: 13px;
  width: 13px;
  margin-left: 10px;
}

#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  z-index: 1000;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#chartjs-tooltip:before {
  content: '';
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, .7);
  position: absolute;
  top: -5px;
  left: calc(50% - 2.5px)
}

