{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">{% if object %}{% trans 'Update' %}{% else %}{% trans 'Create' %}{% endif %}</button>
        {% if object %}
          <a href="{% url 'users:set_password' object.username %}" class="btn btn-default">{% trans 'Set Password' %}</button>
        {% endif %}
        <a href="{% url 'users:list' %}" class="btn btn-link">{% trans 'Cancel' %}</a>
      </div>
    </div>
  </form>
{% endblock %}
