{% extends "base-full-width.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block css %}
  {{ block.super }}
  <style>
    .container {
      max-width: 970px;
    }
    form {
      margin-bottom: 20px;
    }
  </style>
{% endblock css %}

{% block content %}
  {% crispy form %}
  <div class="form-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary" onclick="(function () { $('form').submit() })()">{% if object %}{% trans 'Update' %}{% else %}{% trans 'Create' %}{% endif %}</button>
      {% if object %}
        <a href="{% url 'users:set_password' object.username %}" class="btn btn-info">{% trans 'Set Password' %}</a>
      {% endif %}
      <a href="{% url 'users:list' %}" class="btn btn-link">{% trans 'Cancel' %}</a>
      {% if object %}
        <a href="{% url 'users:delete_user' object.username %}" class="btn btn-danger pull-right">{% trans 'Delete User' %}</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
