{% extends "base-full-width.html" %}
{% load static i18n %}
{% load svg %}

{% block css %}
  {# from https://cdn.datatables.net/r/bs-3.3.5/dt-1.10.8,b-1.0.1/datatables.min.css #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/users.css' %}"/>
{% endblock css %}

{% block javascript %}
  {{ block.super }}
    {# from https://cdn.datatables.net/r/bs-3.3.5/dt-1.10.8,b-1.0.1/datatables.min.js #}
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
{% endblock javascript %}

{% block content %}
  <table class="users-list table table-bordered table-hover" data-add_user_url="{% url 'users:create_user' %}">
    <thead>
      <tr>
        <th class="user-type">{% trans 'Type' %}</th>
        <th class="default-sort">{% trans 'Name' %}</th>
        <th>{% trans 'Email' %}</th>
        <th>{% trans 'Country' %}</th>
        <th>{% trans 'Therapeutic Area' %}</th>
        <th>{% trans 'Last Login' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for user in user_list %}
        <tr>
          <td class="user-type">
            {% with user.get_flags as flags %}
              {% for flag in flags %}
                <i class="svg-icon
                    {% if 'Admin' in flag %} admin-user-icon {% endif %}
                    {% if 'Super' in flag %} super-user-icon {% endif %}
                    " title="{{ flag }}">{% svg 'menu-users' %}</i>
              {% endfor %}
            {% endwith %}
          </td>
          <td><a href="{% url 'users:update_user' user.username %}">{{ user.name|default:'<i>Not defined</i>' }}</a></td>
          <td>{{ user.email }}</td>
          <td>{{ user.country }}</td>
          <td>
            {% for ta in user.therapeutic_areas.all %}
              {% if not forloop.first %}, {% endif %}
              {{ ta.name }}
            {% endfor %}
          </td>
          <td>{{ user.last_login }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <script type="text/javascript" src="{% static 'js/user-list.js' %}"></script>
{% endblock content %}
