{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    {% block messages %}
    {% endblock %}

    <h2>Change password</h2>

    <form method="POST" action="" class="password_change" novalidate="novalidate">
        {% csrf_token %}
      {% if form.oldpassword %}
        <div id="div_id_oldpassword" class="form-group {% if form.oldpassword.errors %}has-error{% endif %}">
          <label for="id_oldpassword" class="control-label  requiredField">
                Old Password<span class="asteriskField">*</span>
          </label>
          <div class="controls ">
            <input class="textinput textInput form-control" id="id_oldpassword" name="oldpassword" placeholder="Old Password" type="password" required="">
          </div>
        </div>
      {% endif %}
        <div id="div_id_password1" class="form-group {% if form.password1.errors %}has-error{% endif %}">
          <label for="id_password1" class="control-label  requiredField">
                New Password<span class="asteriskField">*</span>
          </label>
          <div class="controls ">
            <input class="textinput textInput form-control" id="id_password1" name="password1" placeholder="New Password" type="password" required="">
          </div>
        </div>

        <div id="div_id_password2" class="form-group {% if form.password2.errors %}has-error{% endif %}">
          <label for="id_password2" class="control-label  requiredField">
                New Password (again)<span class="asteriskField">*</span> </label>
          <div class="controls ">
            <input class="textinput textInput form-control" id="id_password2" name="password2" placeholder="New Password (again)" type="password" required="">
          </div>
        </div>

        {% if form.non_field_errors %}
        <div class="alert alert-danger alert-login text-center">
            <ul>
            {% for error in form.non_field_errors %}
                    <li>{{ error}}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if form.oldpassword.errors or form.password1.errors or form.password2.errors %}
          <div class="alert alert-danger alert-login text-center">
            {{ form.oldpassword.errors }}
            {{ form.password1.errors }}
            {{ form.password2.errors }}
          </div>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <div class="col-xs-12 text-center">
            <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
{% endblock %}

