{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    {% block messages %}
    {% endblock %}

    <h2>{% trans "Change Password" %}</h2>
    <p>{% trans 'Your password has been changed.' %}</p>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <p><a href="{% url 'account_login' %}">{% trans 'Sign-in here.' %}</a></p>

{% endblock %}

