.report {
  color: #3d3d3d;
}

@media (min-width: 768px) {

  .equal-heights {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  }

  .equal-heights > * {
    display: flex;
  }

  .report-card {
    display: flex;
    flex-direction: column;
  }

  .report-card .report-card-body {
    margin-top: auto;
  }

  .question-container .report-card-body {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .report {
    margin-left: -185px;
    margin-right: -185px;
  }
}


@media (max-width: 992px) {
  .survey-cards > .row > *, .question-container > .row > *  {
    margin-bottom: 20px;
  }
}

.survey-overview-title {
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 21px;
}

.report-card {
  width: 100%;
  background-color: white;
  padding: 15px 20px 40px 20px;
  box-shadow: 3px 3px 20px -4px rgba(110,110,110,1)
}

.report-card.chart-card {
  padding-bottom: 30px;
}

.report-card-red {
  border-left: 5px solid #b8103b;
}

.report-card-blue {
  border-left: 5px solid #328ec9;
}

.report-card-gray {
  border-left: 5px solid #464646;
}

.report-card-table {
  border-top: 5px solid #b8103b;
}

.report-card-table.report-card-gray {
  border-top: 5px solid #464646;
  border-left: none;
}

.report-card-head {
  margin-bottom: 40px;
}

.report-card .report-card-body.bars-body {
  position: relative;
  margin-top: 0;
  padding-bottom: 65px;
}

.report-card-head .head-delim {
  display: inline-block;
  height: 1px;
  width: 20px;
  background-color: #dedede;
  margin: 15px 0 0 0;
}

.report-card-head .title {
  letter-spacing: 1px;
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 1;
}

.report-card-head .surveys-total {
  margin-top: 13px;
}

.report-card .report-card-text-lg {
  font-size: 28px;
  line-height: 1;
  font-weight: 600;
}

.report-card .report-card-text {
  font-size: 12px;
  margin-top: 12px;
  line-height: 1;
}

.report-card .report-card-text-lesser {
  font-size: 12px;
}

.question-container {
  margin-top: 70px;
}

.question-title {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}

.report-card.report-card-table .report-card-head {
  margin-bottom: 30px;
}

.report-table > thead > tr > th {
  font-weight: bolder;
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 5px;
  text-align: center;
  vertical-align: middle;
}

.report-table > tbody > tr > td {
  padding: 4px 8px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 600;
  border: none;
}

.report-table > tbody > tr {
  border-bottom: 2px solid white;
}

.report-table > tbody > tr > td:first-child {
  padding-left: 20px;
}

.report-table > tbody > tr > td:last-child {
  text-align: right;
  padding-right: 30px;
}

@media (max-width: 768px) {
  .multi-percent-table.report-table > tbody > tr > td:last-child {
    text-align: center;
    padding-right: 8px;
  }
}

@media (max-width: 480px) {
  .multi-percent-table.report-table > tbody > tr > td:last-child {
    padding-right: 0;
  }

  .multi-percent-table.report-table > tbody > tr > td:first-child {
    padding-right: 4px;
    padding-left: 4px;
  }

  .multi-percent-table.report-table > tbody > tr > td{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    word-break: normal;
  }

  .multi-percent-table.report-table > thead > tr > th {
    max-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (max-width: 320px) {
  .multi-percent-table.report-table > tbody > tr > td {
    word-break: break-all;
  }
}

.report-table > tbody > tr:last-child {
  border-bottom: none;
}

.report-table > tbody > tr.report-table-first-red {
  background-color: #b8103b;
  color: white;
}

.report-table > tbody > tr.report-table-second-red {
  background-color: #f28d9e;
}

.report-table > tbody > tr.report-table-third-red {
  background-color: #f9c6ce;
}

.report-table > tbody > tr.report-table-second-blue {
  background-color: #0072bc;
}

.report-table > tbody > tr.report-table-third-blue {
  background-color: #84bbdf;
}

.report-table > tbody > tr.report-table-first-gray {
  background-color: #464646;
  color: white;
}

.report-table > tbody > tr.report-table-second-gray {
  background-color: #929292;
}

.report-table > tbody > tr.report-table-third-gray {
  background-color: #cdcccc;
}

.left-1 {
  position: relative;
  left: 1px;
}

.mb-30 {
  margin-bottom: 30px;
}

/* Pie chart */

.report-card.chart-card .report-card-text-lg.pie-percentage {
  color: #b8103b;
  font-size: 34px;
}

.report-card.chart-card .report-card-text {
  line-height: initial;
}

.pie-card .pie-info {
  margin-top: 60px;
}

@media (max-width: 768px) {
  .pie-card .pie-info {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
  }
}

@media (max-width: 992px) and (min-width: 768px){
  .pie {
    padding-left: 140px;
    padding-right: 140px;
  }

  .pie-legend {
    position: relative;
    right: -120px;
  }

  .equal-heights > .pie, .equal-heights > .right-side-pie-legend-container {
    display: block;
  }

  .pie-legend.right-side-pie-legend {
    position: static;
  }

  .pie-legend.right-side-pie-legend ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pie-info {
    padding-left: 100px;
    padding-right: 100px;
  }

  .pie-info .pie-notice {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  .right-side-pie-legend-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
  }

  .right-side-pie-legend-container .right-side-pie-legend {
    margin-top: 0;
  }
}

.pie-answers {
  display: flex;
  justify-content: space-around;
}

.pie-answer {
  text-align: center;
  padding: 0 15px;
}

.pie-answer:last-child {
  padding-right: 45px;
}

.pie-answer .answer {
  font-size: 20px;
}

.chart-legend {
  margin-top: 35px;
  width: 100%;
}

.chart-legend ul {
  list-style: none;
  padding-left: 0;
  text-align: right;
}

.chart-legend ul li {
  position: relative;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chart-legend ul li span {
  display: block;
  position: absolute;
  top: calc(50% - 6.5px);
  right: 0;
  height: 13px;
  width: 13px;
  margin-left: 10px;
}

#chartjs-tooltip {
  opacity: 0;
  position: absolute;
  z-index: 1000;
  margin-top: 12px;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-family: "open sans", Helvetica, sans-serif;
}

#chartjs-tooltip:before {
  content: '';
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, .7);
  position: absolute;
  top: -5px;
  left: calc(50% - 2.5px);
}

/* Chartist */

.ct-chart .ct-bar:nth-of-type(6n+1) {
  stroke: #c50032;
}

.ct-chart .ct-bar:nth-of-type(6n+2) {
  stroke: #e04578;
}

.ct-chart .ct-bar:nth-of-type(6n+3) {
  stroke: #e597ae;
}

.ct-chart .ct-bar:nth-of-type(6n+4) {
  stroke: #e7b2c2;
}

.ct-chart .ct-bar:nth-of-type(6n+5) {
  stroke: #e597ae;
}

.ct-chart .ct-bar:nth-of-type(6n+6) {
  stroke: #e7b2c2;
}

.report-card-gray .ct-chart .ct-bar:nth-of-type(3n+1) {
  stroke: #464646;
}

.report-card-gray .ct-chart .ct-bar:nth-of-type(3n+2) {
  stroke: #929292;
}

.report-card-gray .ct-chart .ct-bar:nth-of-type(3n+3) {
  stroke: #cdcccc;
}

.ct-chart .ct-grid {
  stroke: #cacaca;
  stroke-width: 0.5px;
  stroke-dasharray: 5px;
}

.ct-chart .ct-label.ct-vertical.ct-start {
  position: relative;
  top: 4px;
}

.ct-chart .ct-label.ct-vertical.ct-start, .ct-chart .ct-barlabel, .ct-bar-labels .ct-bar-label {
  font-family: "open sans";
  font-size: 10px;
  color: #3d3d3d;
  fill: #3d3d3d;
  font-weight: bolder;
  letter-spacing: 1px;
}

.ct-bar-labels .ct-bar-label {
  text-align: right;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: rotate(-90deg);
  display: flex;
  flex-direction: row;
  align-items: center;
  transform-origin: center center;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  display: none;
}

/* Horizontal bar chart */

.report-card-body.horizontal-bar-chart-body {

}

.horizontal-bar-chart {

}

.labeled-bars {
  display: flex;
  flex-direction: row;
}

.x-labels, .y-labels{
  font-family: "open sans";
  font-size: 10px;
  color: #3d3d3d;
  fill: #3d3d3d;
  font-weight: bolder;
  letter-spacing: 1px;
}

.y-labels {
  padding-right: 8px;
  text-align: left;
}

.y-labels .h-chart-y-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

.y-labels .h-chart-y-label, .horizontal-bars .bar {
  height: 22px;
  margin-bottom: 5px;
}

.x-labels {
  width: 100%;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
}

.x-labels .h-chart-x-label {
  width: 20%;
  text-align: right;
}

.x-labels .h-chart-x-label > span {
  display: inline-block;
  transform: translate(50%, 0);
}

.x-labels .h-chart-x-label:first-child > span {
  transform: translate(0, 0);
}

.x-labels .h-chart-x-label:first-child {
  width: 0;
  overflow: visible;
}

.horizontal-bars {
  flex-grow: 10;
}

.horizontal-bars .bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.horizontal-bars .bar .portion {
  height: 100%;
  color: white;
  font-weight: bolder;
  text-align: center;
  cursor: default;
}

.horizontal-bars .bar .portion.negative {
  background-color: #328ec9;
}

.horizontal-bars .bar .portion.positive {
  background-color: #b8102c;
}

.horizontal-bars .bar .portion.empty {
  background-color: white;
  width: 100%;
  font-size: 10px;
  line-height: 22px;
  color: #3d3d3d;
}

.report-card-gray .horizontal-bars .bar .portion.negative {
  background-color: #cdcccc;
}

.report-card-gray .horizontal-bars .bar .portion.positive {
  background-color: #464646;
}

.report-card-body.horizontal-bar-chart-body {
  margin-top: 0;
}

@media (min-width: 992px) {
  .report-card-body.horizontal-bar-chart-body {
    margin-top: 10px;
  }

  .report-card-gray .report-card-body.horizontal-bar-chart-body {
    margin-top: 30px;
  }
}

.question-n-a .report-card{
  height: 200px;
  padding-top: 90px;
  padding-left: 40px;
  font-size: 20px;
}
